<h2>Register Here:</h2>

<div>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit(registerForm.value)">
        <label for="firstName">First Name:</label>
        <br>
        <input type="text" class="inputField" name="firstName" formControlName="firstName">
        <br>
        <br>

        <label for="lastName">Last Name:</label>
        <br>
        <input type="text" class="inputField" name="lastName" formControlName="lastName">
        <br>
        <br>

        <button type="submit" [disabled]="!registerForm.valid">Submit</button>
    </form>
 

</div>